*{
    font-family: 'Roboto', sans-serif;
}
nav{
    height: 50px;
    background: #212121;
    position: fixed; 
    width: 100%; 
    z-index: 5; 
    
}
header{
    position: relative;
}
.menu{
    display: flex;
    justify-content: space-between;
    padding: 13px 70px;
    margin: 0;
    list-style-type: none;

    
}
.menu .menu_link{
    text-decoration:none;
    font-weight: 300;
    font-size: 15px;
    color: #FFFFFF;
}

.menu .menu_item{
    border-right: 2px dotted black;
    padding-right: 29px;
}

.subheader{
    top: 50px;
    height: 87px;
    background:rgba(0, 0, 0, .6);
    mix-blend-mode: normal;
    position: absolute;
    width: 100%;
}
.subheader .subheader_logo{
    display: block;
    max-width: 100%;
    margin-top: 16px;
}
.subheader .subheader_official{
    font-weight: 400;
    font-size: 13px;
    color: #FFFFFF;
    opacity: 0.5;
    margin-top: 6px;
} 
.subheader .subheader_call{
    font-weight: 300;
    font-size: 12px;
    text-align: right;
    color: #FFFFFF;
    margin-top: 19px;
}

.subheader .subheader_phone{
    text-decoration: none;
    display: block;
    font-weight: 400;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: right;
    margin-top: 8px;
    font-size: 22px;
    line-height: 12px;
    margin-top: 7px;

}

.subheader .subheader_btn{
    width: 172px;
    height: 46px;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    border:none;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
    margin-top: 19px;
}

.promo{
    min-height: 800px;
    background: url('../img/main/main_bg.png') center center/cover no-repeat;
    padding: 150px 0 135px 0;

}

.promo .promo_header{
font-weight: 700;
font-size: 70px;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
line-height: 60px;
}

.promo .promo_subheader{
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    line-height: 36px;
    margin-top: 22px;
}

.promo .promo_dsc{
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 24px;
}

.promo .promo_btn{
    display: block;
    margin: 118px auto 0 auto;
    width: 259px;
    height: 63px;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
    border:none;
    border-radius: 4px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}

.reasons {
    padding: 71px 0 64px 0;
}

.reasons .reasons_item{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;

}

.reasons .reasons_txt{
    width: 343px;
}
.reasons .label{
    margin: 0 auto;
    width: 115px;
    height: 27px;
    background: #000000;
    font-weight: 400;
    font-size: 11px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 7px 0 0 0;

}

.reasons .section_header{
    font-weight: 700;
    font-size: 38px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    color: #222222;
    margin-top: 33px;
}



.reasons .reasons_item .reasons_itemhead{
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    color: #1EACC7;

}

.reasons .reasons_item .reasons_dsc{  
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    color: #202020;

}

.reasons .reasons_item .reasons_round{
    display: flex;
    align-items:center;
    justify-content: center;
    width: 116px;
    height: 116px;
    background: #1EACC7;
    border-radius:100px;
    margin-right: 26px;
}
